#
# Primary requirements
#
Django>=2.2.3,<3.2.13
djangorestframework>=3.9.0,<3.13.1

#
# Secondary requirements
#
django-phonenumber-field==6.1.0     # Needed by django-contact
phonenumbers==8.12.49               # Needed by django-contact
